.content code[class*="language-"] {
    background-color: transparent;
    padding: 0;
}

:root {
    --prism-line-number-color: #999;
    --prism-font-color: black;
    /*--prism-boarder-color: #358ccb;*/
    /* TODO fix this variable name */
    --prism-boarder-color: #e58b79;
    --prism-shadown-color: #dfdfdf;
    /*--prism-bg-linear-gradient-color: rgba(69, 142, 209, 0.04);*/
    --prism-bg-linear-gradient-color: rgba(209, 69, 69, 0.04);
    --prism-pre-bg-color: #fdfdfd;
    --prism-inline-code-border-color: rgba(0, 0, 0, 0.1);
    --prism-inline-code-color: #c92c2c;
    --prism-comment-color: #7D8B99;
    --prism-punctuation-color: #5F6364;
    --prism-symbol-color: #c92c2c;
    --prism-selector-color: #2f9c0a;
    --prism-var-color: #a67f59;
    --prism-var-bg-color: rgba(255, 255, 255, 0.5);
    --prism-keyword-color: #1990b8;
    --prism-regex-color: #e90;
    --prism-string-color: #a67f59;
    --prism-string-bg-color: rgba(255, 255, 255, 0.5);
}

[data-theme="dark"] {
    --prism-line-number-color: #ccc;
    --prism-font-color: #d5d5d2;
    --prism-boarder-color: #97803cb2;
    /*--prism-boarder-color: #358ccb;*/
    --prism-shadown-color: rgba(0, 0, 0, 0.3);
    --prism-bg-linear-gradient-color: rgba(69, 142, 209, 0.04);
    --prism-pre-bg-color: #2e3440;
    --prism-inline-code-border-color: rgba(0, 0, 0, 0.1);
    --prism-inline-code-color: #f8f8f2;
    --prism-comment-color: #636f88;
    --prism-punctuation-color: #81a1c1;
    --prism-symbol-color: #81A1C1;
    --prism-selector-color: #a3be8c;
    --prism-var-color: #81a1c1;
    --prism-keyword-color: #81a1c1;
    --prism-regex-color: #ccc;
    --prism-regex-color: #ebcb8b;
    --prism-string-color: #81a1c1;
    --prism-string-bg-color: transparent;
    --prism-var-bg-color: transparent;
}

/**
* Coy without shadows
* Based on Tim Shedor's Coy theme for prism.js
* Author: RunDevelopment
*/

code[class*="language-"],
pre[class*="language-"] {
    color: var(--prism-font-color);
    background: none;
    font-family: Geist Mono, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
    position: relative;
    border-left: 4px solid var(--prism-boarder-color);
    box-shadow: -1px 0 0 0 var(--prism-boarder-color), 0 0 0 1px var(--prism-shadown-color);
    background-color: var(--prism-pre-bg-color);
    background-image: linear-gradient(transparent 50%, var(--prism-bg-linear-gradient-color) 50%);
    background-size: 3em 3em;
    background-origin: content-box;
    background-attachment: local;
    margin: .5em 0;
    padding: 0 1em;
    border-radius: 10px;
}

pre[class*="language-"] > code {
    display: block;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    position: relative;
    padding: .2em;
    border-radius: 0.3em;
    color: var(--prism-inline-code-color);
    border: 1px solid var(--prism-inline-code-border-color);
    display: inline;
    white-space: normal;
    background-color: var(--prism-pre-bg-color);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: var(--prism-comment-color);
}

.token.punctuation {
    color: var(--prism-punctuation-color);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.function-name,
.token.constant,
.token.symbol,
.token.deleted {
    color: var(--prism-symbol-color);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.function,
.token.builtin,
.token.inserted {
    color: var(--prism-selector-color);
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
    color: var(--prism-var-color);
    background: var(--prism-var-bg-color);
}

.token.atrule,
.token.attr-value,
.token.keyword,
.token.class-name {
    color: var(--prism-keyword-color);
}

.token.regex,
.token.important {
    color: var(--prism-regex-color);
}

.language-css .token.string,
.style .token.string {
    color: var(--prism-string-color);
    background: var(--prism-string-bg-color);
}

.token.important {
    font-weight: normal;
}

.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

.token.namespace {
    opacity: .7;
}

/** Plugin styles **/
pre[class*="language-"].line-numbers, .clyde-code.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}
pre[class*="language-"].line-numbers > code, .clyde-code.line-numbers > code {
    position: relative;
    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 100%;
    left: -3.8em;
    width: 2.4em; /* works for line-numbers bellow 1000 */
    letter-spacing: -1px;
    border-right: 1px solid #999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line-numbers-rows > span {
    display: block;
    counter-increment: linenumber;
}
.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: var(--prism-line-number-color);
    display: block;
    padding-right: 0.8em;
    text-align: right;
}

div.code-toolbar {
    position: relative;
    padding-bottom: 24px;
}
div.code-toolbar > .toolbar {
    position: absolute;
    z-index: 10;
    top: 0.3em;
    right: 0.2em;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}
div.code-toolbar:hover > .toolbar {
    opacity: 1;
}
div.code-toolbar:focus-within > .toolbar {
    opacity: 1;
}
div.code-toolbar > .toolbar > .toolbar-item {
    display: inline-block;
}
div.code-toolbar > .toolbar > .toolbar-item > a {
    cursor: pointer;
}
div.code-toolbar > .toolbar > .toolbar-item > button {
    background: 0 0;
    border: 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
div.code-toolbar > .toolbar > .toolbar-item > a,
div.code-toolbar > .toolbar > .toolbar-item > button,
div.code-toolbar > .toolbar > .toolbar-item > span {
    color: #bbb;
    font-size: 0.8em;
    padding: 1em;
    background: #f5f2f0;
    background: rgba(224, 224, 224, 0.2);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
    border-radius: 0.2em;
}
div.code-toolbar > .toolbar > .toolbar-item > a:focus,
div.code-toolbar > .toolbar > .toolbar-item > a:hover,
div.code-toolbar > .toolbar > .toolbar-item > button:focus,
div.code-toolbar > .toolbar > .toolbar-item > button:hover,
div.code-toolbar > .toolbar > .toolbar-item > span:focus,
div.code-toolbar > .toolbar > .toolbar-item > span:hover {
    color: inherit;
    text-decoration: none;
}
