:root {
	--bg-color: #fff;
	--text-color: rgb(64, 64, 64);
	--link-color: rgb(232, 103, 53);
	--link-hover-color: rgb(255, 145, 103);
	--table-border-color: #e1e4e1;
	--table-odd-bg: #fff7f2;
	--table-head-color: #fff1e2;
	--nav-hover-bg-color: #eee;
	--nav-expanded-bg-color: #f9f9f9;
	--nav-code-bg-color: #efefef;
	--default-font: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

[data-theme="dark"] {
	--bg-color: rgb(32, 35, 38);
	--text-color: rgba(255, 255, 255, 0.85);
	--link-color: rgb(183, 152, 113);
	--link-hover-color: rgb(221, 175, 116);
	--table-border-color: #505356;
	--table-head-color: #3b3e41;
	--table-odd-bg: #2b2e31;
	--nav-hover-bg-color: #44474a;
	--nav-expanded-bg-color: #2b2e31;
	--nav-code-bg-color: #44474a;
}

* {
	font-family: var(--default-font);
	font-size: 16px;
	line-height: 25px;
	color: var(--text-color);
}

html, body {
	min-height: 100vh;
}

body {
	background-color: var(--bg-color);
}

a {
	font-family: var(--default-font);
	color: var(--link-color);
	text-decoration: underline;
	text-decoration-thickness: 1px;
}

a:hover {
	color: var(--link-hover-color);
}

h1, h2, h3, h4 {
	font-weight: 700;
	margin-bottom: 24px;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.2em; }
h4 { font-size: 1em; }

.content {
	padding: 24px;
	margin: 0 auto;
	margin-top: 48px;
	max-width: 1200px;
} 

@media (max-width: 1920px) {
	.content.with-menu {
		margin-left: 360px;
		overflow-x: hidden;
	}
}

@media (max-width: 940px) {
	.content.with-menu {
		margin-left: 0px;
	}
}

.content img {
	max-width: 100%;
}

.content p {
	margin-bottom: 24px;
}

.content ol {
	margin-bottom: 24px;
}

.content strong {
	font-weight: 700;
}

.content em {
	font-style: italic;
}

.content ol {
	list-style: decimal;
	margin-bottom: 24px;
}

.content ul {
	list-style: disc;
	margin-bottom: 24px;
}

.content li {
	padding-left: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
}

.content hr {
	color: var(--table-border-color);
	border: 1px solid var(--table-border-color);
	margin: 20px 0px;
}

.content pre {
	overflow-x: auto;
}

.content code {
	font-family: monospace;
	font-size: 0.9em;
	padding: 0.2em 0.4em;
	margin: 0;
	background-color: var(--nav-code-bg-color);
	border-radius: 3px;
}

.content blockquote {
	border-left: 3px solid;
	padding-left: 20px;
	font-style: italic;
}

.content mark {
	background-color: #fafca7;
}

.content sup {
	vertical-align: super;
	font-size: 0.7em;
}

.content table {
	border: 2px solid var(--table-border-color);
	margin-bottom: 24px;
}

.content table tr {
	border-bottom: 1px solid var(--table-border-color);
	border-left: 1px solid var(--table-border-color);
}

.content table tr:nth-child(even) {
	background-color: var(--table-odd-bg);
}

.content table th {
	background-color: var(--table-head-color);
	border-left: 1px solid var(--table-border-color);
	border-bottom: 1px solid var(--table-border-color);
	padding: 4px 16px;
	font-weight: 700;
}

.content table td, .content table th {
	border-bottom: 1px solid var(--table-border-color);
	border-left: 1px solid var(--table-border-color);
	padding: 6px 16px;
}

.page-doc table th:nth-child(1) {
	width: 30%;
}

.page-doc table td:nth-child(1) {
	font-weight: 600;
}

.page-doc table td:nth-child(1) code {
	font-weight: normal;
}

.page-doc table td[colspan="2"] {
	text-align: center;
	font-weight: 600;
	background-color: var(--table-head-color);
	border-top: 2px solid var(--table-border-color);
	border-bottom: 2px solid var(--table-border-color);
}

.page-doc a[href^="http"]::after {
	content: ' \f08e';
	font-family: "fontello";
	font-size: 0.8em;
	vertical-align: middle;
	text-decoration: none;
}

.page-header {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}

.page-header .site-config {
	position: absolute;
	right: 0px;
	padding: 5px 24px;
}

.site-config .selector select {
	background-color: var(--nav-hover-bg-color);
	padding: 5px 10px 5px 35px;
	border: none;
}
.site-config .selector {
	display: inline-block;
	position: relative;
}

.selector.site-theme-selector::before {
	font-family: "fontello", var(--default-font);
	content: '\e800';
	position: absolute;
	left: 10px;
	top: 6px;
}

.site-theme-selector:has(option[value="auto"]:checked)::before {
	content: '\e800';
}

.site-theme-selector:has(option[value="light"]:checked)::before {
	content: '\f185';
}

.site-theme-selector:has(option[value="dark"]:checked)::before {
	content: '\f186';
}

.selector.doc-version-selector::before {
	font-family: "fontello", var(--default-font);
	content: '\e802';
	position: absolute;
	left: 10px;
	top: 6px;
}

.page-bd {
	display: flex;
}

.side-nav {
	position: fixed;
	height: 100%;
	overflow-x: auto;
	background-color: var(--nav-expanded-bg-color);
	padding: 0px 10px;
}

.nav-logo {
	margin: 24px auto;
	display: flex;
	align-items: center;
	gap: 5px;
	font-size: 2em;
	color: var(--text-color);
	font-weight: 700;
	text-decoration: none;
	margin-left: 24px;
}

.nav-logo:hover {
	color: var(--text-color);
}

.nav-logo img {
	max-width: 64px;
	margin-bottom: 6px;
}

.nav-menu {
	width: 340px;
	line-height: 18px;
	padding: 5px;
}

.nav-menu a {
	display: block;
	color: var(--text-color);
	text-decoration: none;
	padding: 5px 10px 5px 24px;
}

.nav-menu a:hover {
	background-color: var(--nav-hover-bg-color);
}

.nav-menu .nav-level-1 {
	font-size: 14px;
}

.nav-menu .nav-level-2 {
	font-size: 14px;
}

.nav-menu .nav-level-3 {
	font-size: 14px;
}

.nav-menu a button {
	background: none;
	border: none;
	width: 26px;
	/*margin-left: -27px;*/
	/*margin-right: 5px;*/
}

.nav-menu a button::before {
	display: inline-block;
	width: 12px;
	height: 12px;

	content: '\f196';
	color: var(--text-color);
}

.nav-menu .nav-item a {
	display: flex;
	align-items: center;
	min-height: 40px;
}

.nav-menu .nav-item.expanded > a button::before,
.nav-menu .nav-item.loaded-expanded > a button::before {
	content: '\f107';
}

.nav-menu .nav-item.collapsed > a button::before {
	content: '\f105';
}

.nav-menu .nav-item.no-expand > a button {
	display: none;
}

/*.nav-menu .nav-item.loaded-expanded {*/
/*	background-color: var(--nav-expanded-bg-color);*/
/*}*/

.nav-menu .nav-item.loaded-expanded > a {
	font-weight: 700;
}

.nav-menu .nav-item.current > a {
	font-weight: 700;
}

.nav-menu .nav-item.expanded > ul,
.nav-menu .nav-item.loaded-expanded > ul {
	display: inherit;
}

.nav-menu .nav-item.collapsed > ul {
	display: none;
}

.nav-item > ul > .nav-item > a {
	padding-left: 44px;
}

.nav-item > ul > .nav-item > ul > .nav-item > a {
	padding-left: 64px;
}

.nav-item > ul > .nav-item > ul > .nav-item > ul > .nav-item > a {
	padding-left: 84px;
}

.img-center {
	display: block;
	margin: 0 auto;
}

@media (max-width: 940px) {
	.nav-logo {
		margin: 10px 5px auto;
		justify-content: center;
		margin-left: auto;
	}
	.nav-logo img {
		max-height: 50px;
	}
	.page-bd {
		display: block;
	}

	.side-nav {
		position: inherit;
	}

	.nav-menu {
		width: 100%;
	}

	.nav-menu .nav-item.collapsed > ul {
		display: none;
	}

	/*.nav-menu > .nav-item.loaded-expanded > ul {*/
	/*  display: none;*/
	/*}*/
	/**/
	/*.nav-menu > .nav-item.loaded-expanded > a button::before {*/
	/*  content: '\f196';*/
	/*}*/
	/**/
	/*.nav-menu > .nav-item.expanded > ul {*/
	/*  display: inherit;*/
	/*}*/

	.page-header .site-config {
		position: inherit;
		display: flex;
		justify-content: center;
		padding: 10px 10px 0px;
		gap: 5px;
	}
	.site-config .selector select {
		padding-left: 15px;
	}

	.selector.site-theme-selector::before,.selector.doc-version-selector::before {
		display: none;
	}
}

.footer-credits {
	margin: 48px auto 10px auto;
	text-align: center;
	font-family: monospace;
	font-size: 0.9em;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

.footer-credits a {
	text-decoration: none;
	font-size: 0.9em;
}

.code_ref {
	table {
		width: 100%;

	}
	table a {
		text-decoration: none;

	}
	.section_separator {
		border: 2px solid var(--link-color);
		opacity: 30%;
		margin: 40px 0px;
	}
}

div[id^="method-"],
div[id^="signal-"] {
	font-size: 1.2em;
	margin-bottom: 12px;

	b {
		font-weight: 700;
	}

}

div[id^="method-"] + p, div[id^="method-"] + p + ul,
div[id^="signal-"] + p, div[id^="signal-"] + p + ul {
	padding-left: 24px;
	brightness:(120%);
}

.lang_ref {
	h2::before {
		border: 2px solid var(--link-color);
		opacity: 30%;
		margin: 60px auto 50px auto;
		content: '';
		display: block;
		width: 100px;
	}

	h2:nth-child(2):before {
		border: none;
		margin: 0px;
	}
}

.child-list a {
	text-decoration: none;
}

.page-navigation {
	width: 100%;
	display: flex;

	.previous {
		flex-grow: 1;
		text-align: left;
		text-decoration: none;
	}

	.next {
		flex-grow: 1;
		text-align: right;
		text-decoration: none;
	}
}

.playground {
	width: 100%;
	height: 80vh;
	max-width: initial;
	margin-left: 360px;
}

.features-page {
	img {
		border-radius: 20px;
	}

	.section_separator {
		max-width: 250px;
		border: 2px solid var(--link-color);
		opacity: 30%;
		margin: 40px auto;
	}
}
